---
import Layout from "@/layouts/Layout.astro";
import ClusteringDashboard from '../components/clustering/ClusteringDashboard.astro';
import TreemapView from '../components/clustering/TreemapView.astro';
import ScatterView from '../components/clustering/ScatterView.astro';
import CustomLegend from '../components/clustering/CustomLegend.astro';
import Breadcrumbs from '../components/clustering/Breadcrumbs.astro';
---

<Layout
  title="Clustering Le Poool - Visualisation Interactive"
  description="Explorez l'écosystème startup du Poool avec des visualisations interactives"
>
  <main class="h-screen overflow-hidden">
    <ClusteringDashboard>
      <Breadcrumbs />
      <div class="flex h-full relative">
        <div class="flex-1 h-full">
          <TreemapView />
          <ScatterView />
        </div>
        <CustomLegend />
      </div>
    </ClusteringDashboard>
  </main>
</Layout>