---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Novembre 2023 - Actuellement",
    title: "Chargé d'exploration de l'Intelligence Artificielle",
    company: "Additi Media",
    description:
      "Au sein de la Business Factory, mon rôle est de créer des solutions d'intelligence artificielle afin de faciliter le travail de mes collègues. J'ai notamment travaillé sur des projets de code review, analyse de conformité publicitaire, création automatisée de publicités.",
  },
  {
    date: "Juillet - Septembre 2023",
    title: "Data Manager",
    company: "Vinci Facilities",
    description:
      "J'ai pu administrer une base de données SAP, créer des tableaux de bord et initier la création d'un système de gestion de stocks.",
  },
  {
    date: "Septembre 2020 - Mars 2023",
    title: "Chef de Projet Data / IT",
    company: "Ima.Go",
    description:
      "Agence de développement commercial dans laquelle j'ai pu optimiser les process de scraping, la gestion du CRM et la création de tableaux de bord automatisés",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
